
packages/
New folder/
*.ncrunchproject
*.ncrunchsolution
BookLibrary.ApplicationService/bin/
BookLibrary.ApplicationService/obj/
BookLibrary.Core/bin/
BookLibrary.Core/obj/
BookLibrary.Domain/bin/
BookLibrary.Domain/obj/
BookLibrary.IntegrationTests/bin/
BookLibrary.IntegrationTests/obj
BookLibrary.Model/obj/
BookLibrary.Repository/bin/
BookLibrary.Repository/obj/
BookLibrary.Model/bin
Redis.Practice/bin/
Redis.Practice/obj
BookLibrary.DomainModel/obj/
BookLibrary.DomainModel/bin/
BookLibrary.QueryModelUpdater/obj/
BookLibrary.QueryModelUpdater/bin/
BookLibrary.QueryModel/bin/
BookLibrary.QueryModel/obj/
TestResults/
BookLibrary.QueryModelReader/bin/
BookLibrary.QueryModelReader/obj/
